<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Seat Yourself, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to Seat Yourself,
      your user login is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login and make your first reservation, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>